
/* animations */

/* Add your existing animations */

.animate {
    opacity: 0;
    transition: opacity 1s, transform 1s;
  }
  
  .fadeLeft.animate {
    transform: translateX(-60px);
  }
  
  .fadeRight.animate {
    transform: translateX(60px);
  }
  
  .fadeInUp.animate {
    transform: translateY(60px);
  }
  
  .fadeInDown.animate {
    transform: translateY(-60px);
  }
  
  .animate.fade-in {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  
  
  
  
  
  
  
  
  .rotateImg {
    height: auto;
    animation: rotateImage 5s infinite alternate;
    /* adjust timing as needed */
  }
  
  @keyframes rotateImage {
    0% {
      transform: rotate(10deg);
      /* rotate clockwise */
    }
  
    100% {
      transform: rotate(-15deg);
      /* rotate anticlockwise */
    }
  }
  
  
  
  
  /* animations */
  
  
  